
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.DS_Store
/Temp/
/Library/assetDatabase3
/Library/AssetServerCacheV3
/Library/BuildPlayer.prefs
/Library/BuildSettings.asset
/Library/EditorSettings.asset
/Library/EditorUserBuildSettings.asset
/Library/FailedAssetImports.txt
/Library/InspectorExpandedItems.asset
/Library/MonoManager.asset
/Library/QualitySettings.asset
/Library/ScriptMapper
/Library/TagManager.asset
/Library/cache/
/Library/guidmapper
/Library/metadata
/Library/ScriptAssemblies
/Library/expandedItems
/Library/previews
/Library/ScriptAssemblies/Assembly-CSharp.dll
/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
